{% extends "layout.html" %}
{% block title %}Watchlist{% endblock %}
{% block content %}
<div class="container-fluid">
    <!--form controls-->
    <form method="GET"> 
        <div class="row">
            <div class="col-12" style="max-width: 10%;">
                <label class="form-label visually-hidden" for="team_name">Team name</label>
                <input type="text" name="team_name" class="form-control" id="fn" placeholder="Team name"
                    value="{{request.args.get('team_name') or ''}}">
                </div>
            
                <div class="col-12" style="max-width: 10%;">
                    <label class="form-label visually-hidden" for="league_name">League name</label>
                    <input type="text" name="league_name" class="form-control" id="fn" placeholder="League name"
                        value="{{request.args.get('league_name') or ''}}">
                    </div>

                    <div class="col">
                        <label class="visually-hidden" for="leagues">Entity</label>
                    <select title="drop" class="form-select mb-3" name="type_of">
                        <option value="">All</option>
                        <option {{'selected' if 'team'|string==type_of|string}} value="team">Team</option>
                        <option {{'selected' if 'league'|string==type_of|string}} value="league">League</option>
                        </select>
                    </div>

        
                <input type="hidden" id="postId" name="apply_where" value='' />

                <div class="col">
                    <input type="submit" class="btn btn-primary" value="Filter" />
                </div>

                </div>
                

    </form>
 
    <!--Leagues-->

    <div class="container">
        <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead>
                <tr>
                    <th scope="col">Entity Name</th>
                    <th scope="col">Entity Type</th>
                    <th scope="col">Count</th>
                </tr>
                </thead>
                <tbody>
                {% for c in team_list%}
                <tr>
                    <td>{{c['name']}}</td>
                    <td>Team</td>
                    <td>{{c['count']}}</td>
                </tr>
                {% endfor %}
                {% for c in league_list%}
                <tr>
                    <td>{{c['name']}}</td>
                    <td>League </td>
                    <td>{{c['count']}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>   
        </div>



{% endblock %}




