{% macro table_data(data = "", key="") %}

<td>{{data[key]['home']}}</td>
<td>{{data[key]['away']}}</td>
<td>{{data[key]['total']}}</td>

{% endmacro %}
{% extends "layout.html" %}
{% block title %}Team Stats{% endblock %}
{% block content %}

<div style="text-align: center;">
  <img src="{{team_info['logo']}}" alt="{{team_info['name']+' logo'}}" />
  <h1>{{team_info['name']}}</h1>
</div>

<style>
  table {
      border-collapse: collapse;
      width: 100%;
  }
  table td, table th {
      border: none;
      border-top: 1px solid gray;
  }
  table td:not(:first-child), table th:not(:first-child) {
      width: 80px;
  }
  table td {
      padding: 4px;
  }
  th {
      text-transform: capitalize;
      background-color: lightgray;
      padding: 8px;
  }
</style>
</head>
<body>
<table>
  <tr>
    <th></th>
    <th>HOME</th>
    <th>AWAY</th>
    <th>ALL</th>
  </tr>
  <tr>
    <td>Games Played</td>
    {{table_data(data = fixtures, key="played")}}
  </tr>
  <tr>
    <td>Wins</td>
    {{table_data(data = fixtures, key="wins")}}
  </tr>
  <tr>
    <td>Draws</td>
    {{table_data(data = fixtures, key="draws")}}
  </tr>
  <tr>
    <td>Loss</td>
    {{table_data(data = fixtures, key="loses")}}
  </tr>
  <tr>
    <th colspan="100%" style="text-align: left;">GOALS</th>
  </tr>
  <tr>
    <td>Goals for</td>
    {{table_data(data = goals_for, key="total")}}
  </tr>
  <tr>
    <td>Goals Against</td>
    {{table_data(data = goals_against, key="total")}}
  </tr>
  <tr>
    <th colspan="100%" style="text-align: left;">GOALS AVERAGE</th>
  </tr>
  <tr>
    <td>Goals for</td>
    {{table_data(data = goals_for, key="average")}}
  </tr>
  <tr>
    <td>Goals Against</td>
    {{table_data(data = goals_for, key="average")}}
  </tr>
  
</table>



{% endblock %}